.bg-sidebar {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(6, 16, 39, 0.438);
  transition: background-color 1s ease;
  overflow: hidden;
}
#bg-sidebar {
  opacity: 1;
  transition: opacity 5s ease, max-width 1.5s ease;
}
.fade-out {
  opacity: 0;
  max-width: 0;
  visibility: hidden;
}
.fade-in {
  opacity: 1;
  max-width: 31%;
  visibility: visible;
}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
  .bg-sidebar {
    display: none;
  }
}
/* Desktop pequeno */
@media (min-width: 769px) and (max-width: 1024px) {
  .bg-sidebar {
    display: none;
  }
}
/* Desktop médio */
@media (min-width: 1025px) and (max-width: 1200px) {
  .bg-sidebar {
    display: none;
  }
}
/* Desktop grande */
@media (min-width: 1201px) {
  .bg-sidebar {
    display: none;
  }
}
