.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: #4caf50;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0px 48px;
  list-style: none;
}

.hamburger {
  display: block;
  cursor: pointer;
  position: relative;
  z-index: 1100;
}
.nav-list {
  display: none;
}
.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--cor-2);
  transition: all 0.3s ease-in-out;
  z-index: 32;
}

.hamburger.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
  .hamburger {
    display: none;
  }
  .nav-list {
    display: flex;
  }
}
/* Desktop pequeno */
@media (min-width: 769px) and (max-width: 1024px) {
  .hamburger {
    display: none;
  }
  .nav-list {
    display: flex;
  }
}
/* Desktop médio */
@media (min-width: 1025px) and (max-width: 1200px) {
  .hamburger {
    display: none;
  }
  .nav-list {
    display: flex;
  }
}
/* Desktop grande */
@media (min-width: 1201px) {
  .hamburger {
    display: none;
  }
  .nav-list {
    display: flex;
  }
}
