.sidebar {
  display: block;
  position: fixed;
  top: 0;
  right: -70%;
  width: 70%;
  height: 100%;
  background-color: #333;
  color: white;
  transition: right 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 1rem 0;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.sidebar.open {
  right: 0;
}
