.main-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  height: 86vh;
  background-color: #f4f4f4;
}

.column {
  background-color: #2196f3;
  color: white;
  padding: 1rem;
  text-align: center;
}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
}

/* Desktop pequeno */
@media (min-width: 769px) and (max-width: 1024px) {
}

/* Desktop médio */
@media (min-width: 1025px) and (max-width: 1200px) {
  .main-section {
    grid-template-columns: 1fr 1fr;
  }
  .column {
    margin: 1rem;
  }
}

/* Desktop grande */
@media (min-width: 1201px) {
  .main-section {
    grid-template-columns: 1fr 1fr;
  }
  .column {
    margin: 1rem;
  }
}
