.main-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  height: 86vh;
  /* background-color: rgba(185, 61, 61, 0.062); */
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(44, 13, 182, 0.226);
}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
}

/* Desktop pequeno */
@media (min-width: 769px) and (max-width: 1024px) {
}

/* Desktop médio */
@media (min-width: 1025px) and (max-width: 1200px) {
  .main-section {
    grid-template-columns: 1fr 1fr;
  }
}

/* Desktop grande */
@media (min-width: 1201px) {
  .main-section {
    grid-template-columns: 1fr 1fr;
  }
}
